

<div class="container">
    <h3 class="my-4">Livros em Check-Out:</h3>
    <div class="row">
        <div class="col-lg-4 mb-2" *ngFor="let book of checkouts">
            <div class="card pb-4" style="height: 620px;">
              <img [src]="'https://193.136.62.24/v1/assets/cover/' + book.book.isbn + '-L.jpg'" class="img-fluid card-img-top" style="height: 60%; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">{{book.book.title}}</h5>
                <p class="card-text"> <strong>Ano de publicação:</strong> {{book.book.publishDate}}</p>
                <p class="card-text"> <strong>Autor:</strong> {{book.book.authors[0].name}}</p>
                <p class="card-text"> <strong>Stock:</strong> estão disponíveis {{book.available}} de {{book.stock}}</p>
                <button class="btn bg-primary text-light" (click)="goToBook(book.libraryId, book.bookId)">Ver Livro</button>
              </div>
            </div>
          </div>
    </div>
    <h3 class="my-4">Historico do Utilizador:</h3>
    <div class="row">
      <div class="col-lg-4 mb-2" *ngFor="let book of history">
          <div class="card pb-4" style="height: 620px;">
            <img [src]="'https://193.136.62.24/v1/assets/cover/' + book.book.isbn + '-L.jpg'" class="img-fluid card-img-top" style="height: 60%; width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{book.book.title}}</h5>
              <p class="card-text"> <strong>Ano de publicação:</strong> {{book.book.publishDate}}</p>
              <p class="card-text"> <strong>Autor:</strong> {{book.book.authors[0].name}}</p>
              <p class="card-text"> <strong>Stock:</strong> estão disponíveis {{book.available}} de {{book.stock}}</p>
              <button class="btn bg-primary text-light" (click)="goToBook(book.libraryId, book.bookId)" >Ver Livro</button>
            </div>
          </div>
        </div>
  </div>
</div>

