@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.buttons {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b0afaf
}

.buttons:hover {
    background-color: rgb(57, 57, 57);
    color: #ffff;
}